@model ChatLoco.Models.Chatroom_Model.ChatroomModel

    @* These inputs are hidden so that we can get their values easily in JS *@
    <input type="hidden" id="ChatroomId" value="@Model.ChatroomId" />
    <input type="hidden" id="ChatroomName" value="@Model.ChatroomName" />
    <input type="hidden" id="UserHandle" value="@Model.UserHandle" />
    <input type="hidden" id="UserId" value="@Model.UserId" />
    <input type="hidden" id="ParentChatroomId" value="@Model.ParentChatroomId" />

    @* Bootstrap class col-lg-# allow using bootstrap's built in column organization *@
    <div id="OtherChatroomsPaneContainer" class="col-lg-2">
        <br/>
        <button id="ParentChatroomButton" value="@Model.ChatroomId" type="button" class="btn btn-primary">@Model.ChatroomName</button>

        <div id="SubChatroomsContainer" class="pre-scrollable">
            <div id="SubChatroomsList">
                @* This is filled in by JS *@
            </div>
        </div>

        <br />

        <button id="create-private-chatroom-dialog-button" type="button" class="btn btn-default"> + </button>

        <div id="create-private-chatroom-dialog" hidden>
            <span id="create-private-chatroom-response"></span>
            <form id="create-private-chatroom-form">
                Create Chatroom <input type="text" name="name" />
                <br />
                Password (optional) <input type="password" name="password" />
                <br />
                Blacklist Accounts (separated by commas) (optional) <input type="text" name="blacklist" />
                <br />
                Capacity (optional) <input type="number" name="capacity" />
            </form>
        </div>

    </div>

    <div id="MessagesPaneContainer" class="col-lg-8">

        <h1 class="white">Chatroom: <span id="ChatroomNameDisplay">@Model.ChatroomName</span></h1>

        <div id="MessagesContainer" class="pre-scrollable">
            @* This is filled in by JS *@
        </div>

        <div id="ComposeContainer">
            <form id="ComposeForm">
                <span class="white" id="user-handle-container">@Model.UserHandle</span> : <input type="text" name="ComposedMessage" />
                <input type="submit" />
            </form>
        </div>
    </div>

    <div id="UsersPaneContainer" class="col-lg-2">
        <h3 class="white">Current Users</h3>
        <div id="UsersContainer" class="pre-scrollable">
            @* This is filled in by JS *@
        </div>
    </div>
        
    <div id="private-chatroom-dialog" hidden>
    </div>


@Styles.Render("~/Content/chatroom")