@model ChatLoco.Models.Chatroom_Model.ChatroomModel

@* These inputs are hidden so that we can get their values easily in JS *@
<input type="hidden" id="ChatroomId" value="@Model.ChatroomId" />
<input type="hidden" id="ChatroomName" value="@Model.ChatroomName" />
<input type="hidden" id="UserHandle" value="@Model.UserHandle" />
<input type="hidden" id="UserId" value="@Model.UserId" />
<input type="hidden" id="ParentChatroomId" value="@Model.ParentChatroomId" />

<div class="row">
    <div class="hidden-lg hidden-md col-sm-1 col-xs-1"></div>
    <button type="button" class="btn hidden-lg hidden-md col-sm-1 col-xs-1" style="background-color:#39b3d7" data-toggle="collapse" data-target="#OtherChatroomsPaneContainer">
        <span class="glyphicon glyphicon-th"></span>
    </button>
    <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
    <button type="button" class="btn hidden-lg hidden-md col-sm-2 col-xs-2" style="background-color:#39b3d7" data-toggle="collapse" data-target="#MessagesPaneContainer">
        <span class="glyphicon glyphicon-comment"></span>
    </button>
    <div class="hidden-lg hidden-md col-sm-3 col-xs-3"></div>
    <button type="button" class="btn hidden-lg hidden-md col-sm-1 col-xs-1" style="background-color:#39b3d7" data-toggle="collapse" data-target="#UsersPaneContainer">
        <span class="glyphicon glyphicon-user"></span>
    </button>
</div>
@* Bootstrap class col-lg-# allow using bootstrap's built in column organization *@
<div id="OtherChatroomsPaneContainer" class="col-lg-2 col-md-2 col-sm-2 collapse in">
    <br />
    <button id="ParentChatroomButton" style="background-color:#0099ff; white-space: normal; width: 100%;" value="@Model.ChatroomId" type="button" class="btn btn-primary">
        <b id="parent-chatroom-button-text" value="@Model.ChatroomId">@Model.ChatroomName</b>
    </button>

    <div id="SubChatroomsContainer" class="pre-scrollable" style="height: 3000px; margin-top: 15px;">
        <div id="SubChatroomsList" style="height: 100%; background-color: rgba(0,0,0,0.6); border: solid; border-color: black;" class="well">
            @* This is filled in by JS *@
        </div>
    </div>

    <br />

    <button id="create-private-chatroom-dialog-button" type="button" class="btn btn-default" style="border:solid; border-color: #000000;"> New Private Room </button>

    <div id="create-private-chatroom-dialog" hidden>
        <span id="create-private-chatroom-response"></span>
        <form id="create-private-chatroom-form">
            Create Chatroom <input type="text" name="name" />
            <br />
            Password (optional) <input type="password" name="password" />
            <br />
            Blacklist Accounts (separated by commas) (optional) <input type="text" name="blacklist" />
            <br />
            Capacity (optional) <input type="number" name="capacity" />
        </form>
    </div>

</div>

<div id="MessagesPaneContainer" class="col-lg-8 col-md-8 col-sm-8 collapse in">

    <h1 class="white"><span id="ChatroomNameDisplay">@Model.ChatroomName</span></h1>

    <div id="MessagesContainer" style="background-color: rgba(0,0,0,0.6); border: solid; border-color: #000000; height: 5000px;" class="pre-scrollable white well">
        @* This is filled in by JS *@
    </div>

    <div id="ComposeContainer" style="width:100%; margin-top: 10px; background-color:rgba(0,0,0,0.6); border:solid; border-color:#000000; padding: 4px;" class="col-md-8 well">
        <form id="ComposeForm">
            <span class="white" id="user-handle-container"><b>@Model.UserHandle</b></span> : <input style="width:1000px; color:#000000;" type="text" name="ComposedMessage" />
            <input style="margin-left: 50px" type="submit" />
            <button id="Change-Font-Color-Button">Font Color</button>
            <button id="Font-Bold-Button"><b>B</b></button>
            <button id="Font-Italic-Button"><i>I</i></button>
            <button id="Emoji-Button">:)</button>
        </form>
    </div>
</div>

<div id="UsersPaneContainer" class="col-lg-2 col-md-2 col-sm-2 collapse in">
    <h3 class="white">Current Users</h3>
    <div id="UsersContainer" style="border: solid; border-color: #000000; background-color: rgba(0,0,0,0.6); margin-top: 20px;" class="pre-scrollable well">
        @* This is filled in by JS *@
    </div>
</div>

<div id="user-info-container" hidden>
    <div >

    </div>
</div>
<div id="private-chatroom-dialog" hidden>
</div>


@Styles.Render("~/Content/chatroom")